@import 'tailwindcss';
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700;900&family=JetBrains+Mono:ital,wght@0,400;0,700;1,400&display=swap');

@theme {
  --font-sans: 'Inter', ui-sans-serif, system-ui, sans-serif;
  --font-mono:
    'JetBrains Mono', ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
    monospace;
  /* Layout & Surfaces */
  --color-app-bg: #0d0d0d; /* Deep black background */
  --color-app-surface: #171717; /* Slightly lighter cards/containers */
  --color-app-border: #262626; /* Subtle borders */

  /* Text States */
  --color-txt-main: #e5e5e5; /* Bright text for finished/correct keys */
  --color-txt-muted: #525252; /* Dimmed text for upcoming/untyped keys */

  /* Brand & Feedback */
  --color-type-primary: #eab308; /* The "Caret" and Highlight color (Yellow/Gold) */
  --color-type-success: #22c55e; /* Correct keystrokes */
  --color-type-error: #ef4444; /* Mistyped characters */
  --color-type-error-bg: rgba(
    239,
    68,
    68,
    0.15
  ); /* Soft background for errors */

  /* Stats */
  --color-stat-wpm: #3b82f6; /* Blue for speed */
  --color-stat-acc: #10b981; /* Emerald for accuracy */
}
